body{
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.wrapper {
  width: 100%;
  height: 100%;
  .video_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
  .back_video{
    rotate: 90deg;
    width: 55vw;
  }
}

.inner_div{
  position: absolute;
  width: 25rem;
  height: 30rem;
  background-color: rgba(135, 134, 134, 0.5);
  backdrop-filter: blur(5px);
  top: 10%;
  left: 35%;
  border-radius: 10px;
.inner {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  .Kurage_logo{
    width: 4rem;
  }
  .welcome_font{
    font-family: var(--cb-Th);
  }
}
}
}
